<%- include("../templates/encabezado")%>


<section class="layout">
    <div class="sidebar col-sm-auto  sticky-top"><%- include("../templates/menu2")%></div>
    <div class="body">

        <div class="container mt-5 mb-4">
            <div class="card">
                <div class="card-header">
                    <h1>Usuarios</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Password</th>
                                <th>Foto</th>
                                <th>Foto(preview)</th>
                                <th>Editar/Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                                usuarios.forEach((usuario)=>{
                            %>
                            <tr>
                                <td><%= usuario.id%></td>  
                                <td><%= usuario.nombre%></td>
                                <td><%= usuario.usuario%></td>
                                <td><textarea class="form-control mb-3" cols="30" rows="3" style="overflow: hidden"><%= usuario.password%></textarea></td>
                                <td><%= usuario.foto%></td>
                                <td><img src="/images/<%= usuario.foto%>" width="100px"></td>
                                <td>
                                    <a href="/editar/<%= usuario.id%>" style="text-decoration: none;">Editar</a>
                                    /
                                    <a href="/borrar/<%= usuario.id%>" style="text-decoration: none;">Borrar</a>
                                </td>
                            </tr>
                            <%
                                });
                            %>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>
  </section>
  




<%- include("../templates/pie")%>